*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// body {
//   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
//   background: #ededed;
// }


input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


// // 768px 이하의 화면 크기에 대한 스타일
// @media (max-width: 768px) {
//   $contW: 100%; // 원하는 스타일 적용
//   $imgW: 100%; // 원하는 스타일 적용
//   $formW: 100%; // 원하는 스타일 적용
// }

// // 769px 이상의 화면 크기에 대한 스타일
// @media (min-width: 769px) {
//   $contW: 1517px; // 원하는 스타일 적용
//   $imgW: 500px; // 원하는 스타일 적용
//   $formW: $contW - $imgW; // 원하는 스타일 적용
// }

// $contW: 100%;
$contW: 1517px;
// $imgW: 260px;
$imgW: 500px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 100vh;
  margin: 0 auto 100px;
  // background: LightSlateGray;
  // background-image: url('../../public/img/login5.jpg');
  background-color: #dad2bc; 
}

.form {
  position: relative;
  width: $formW;
  // width: 1000px;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  // left: 1000;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #dad2bc;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
    // transform: translate3d(1000 * -1,0,0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-image: url('../../public/img/login7.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
      // transform: translate3d(1000,0,0);
    }
  }

  &__text {
    font-family: 'Dovemayo_wild';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    padding: 0 20px;
    margin-top:-100px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      color: white;
      margin-bottom: 30px;
      font-weight: normal;
      font-size: 36px;
      font-weight: 700;
    }

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    font-family: 'Dovemayo_wild';
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 150px;
    height: $btnH+10px; //36px
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    margin-top: 200px;
    
    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      font-family: 'Dovemayo_wild';
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;
      
      &.m--in {
        transform: translateY($btnH*-2);
        
        @include signUpActive {
          transform: translateY(0);
        }
      }
      
      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  font-family: 'EF_jejudoldam';
  // color: #5e503f;
  color: #432818;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 100%;
  font-size: 26px;
  text-align: center;
}

.h2-Join {
  margin-top: -25px;
  margin-bottom: 0px;
}

label {
  font-family: 'Dovemayo_wild';
  display: block;
  width: $inputW;
  margin: 25px auto -50px;
  // text-align: center;

  span {
    font-family: 'Dovemayo_wild';
    font-size: 14px;
    color: black;
    text-align: left;
    // color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  font-family: 'Dovemayo_wild'; 
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: -20px;
  // padding-bottom: 5px;
  font-size: 16px;
  // border-bottom: 2px solid #5e503f;
  border: 2px solid #5e503f;
  text-align: center;
  border-radius: 30px;
}

.forgot-pass {
  font-family: 'Dovemayo_wild';
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  // color: #cfcfcf;
  color: black;
}

.submit {
  font-family: 'Dovemayo_wild';
  height: 45px;
  margin-top: 60px;
  margin-bottom: 10px;
  // background: #d4af7a;
  background: #b08968;
  text-transform: uppercase;
}

// .fb-btn {
//   font-family: 'Dovemayo_wild';
//   border: 2px solid #d3dae9;
//   color: darken(#d3dae9, 20%);

//   span {
//     font-family: 'Dovemayo_wild';
//     font-weight: bold;
//     color: darken(#768cb6, 20%);
//   }
// }

.ka-btn {
  font-family: 'Dovemayo_wild';
  height: 45px;
  border: 2px solid #807249;
  color: darken(#ebdc5b, 20%);
  margin-bottom: 10px;

  span {
    font-family: 'Dovemayo_wild';
    font-weight: bold;
    color: darken(#807249, 20%);
  }
}

.go-btn {
  font-family: 'Dovemayo_wild';
  height: 45px;
  border: 2px solid #33a852;
  color: #fabd13;
  margin-bottom: 30px;

  span {
    font-family: 'Dovemayo_wild';
    font-weight: bold;
    color: #4285f3;
  }

  .span-red {
    font-family: 'Dovemayo_wild';
    font-weight: bold;
    color: #ea4435;
  }
}

.sign-in {

  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    // transform: translate3d(1000,0,0);
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);
  // transform: translate3d(1000 * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;

  img {
    width: 100%;
    vertical-align: top;
  }

  &--twitter {
    left: auto;
    right: 5px;
  }
}

.line {
  font-family: 'Dovemayo_wild';
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color:rgba(0,0,0,0.35);
  font-size:14px;
  margin: 25px 330px;
}

.line::before {
  content:"";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0,0,0,0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content:"";
  flex-grow: 1;
  margin: 0px 16px;
  background: rgba(0,0,0,0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.guide {
  font-size: 10px;
}

.buttonId {
  font-family: 'Dovemayo_wild';
  color: #807249;
  border: 1px solid #807249;
  width: 90px;
  height: 35px;
  margin-top: -30px;
  margin-left: 270px;
}

select {
  width: 140px;
  height: 30px;
  background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
  background-size: 20px;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  outline: 0 none;
  border: 1px solid #807249;
  color: #553e19;
}
select option {
  background: rgb(236, 227, 198);
  color: #553e19;
  padding: 3px 0;
}

.selectEmail {
  font-family: 'Dovemayo_wild';
  color: #807249;
  border: 1px solid #807249;
  width: 58%;
  height: 35px;
  margin-top: -500px;
  margin-left: 110px;
}

.email-input{
  font-family: 'Dovemayo_wild'; 
  display: block;
  width: 35%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: -20px;
  font-size: 16px;
  border-bottom: 2px solid #5e503f;
  text-align: center;
}

.selectLan {
  width: 100%;
}