.chat-title {
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  background-color: rgb(255, 250, 250);
  color: #362C2C;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}

.chat-title-text {
  margin: 0;
  padding-left: 20px;
}

.chat-div-line {
  width: auto;
  height: 1px;
  text-align: center;
  background: #362C2C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

  
.message_wrap {
  padding: 0 15px;
  height: calc(100% - 80px);
  overflow: auto;
}
  
.msg_detail {
  width: 100%;
  display: inline-block;
}

.msg_detail p {
  margin: 0;
  font-size: 15px;
}
  
.msg_info p {
  font-size: 0.8em;
  color: #000000;
  font-style: italic;
}

.msg_content {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
  color: #000000;
  width: auto;
  max-width: 80%;
}
  
.text {
  word-break: break-all;color: #000000;
}
 
.message {
  position: relative;
  padding: 7px 0;
}


/* Start message from other user */

.message > .left .msg_detail .msg_info {
  text-align: left;
}

.message.left .msg_detail .msg_content {
  background-color: #f0f0f0;
  float: left;
}
.message.left .msg_detail .msg_content {
  background-color: #f0f0f0;
  border-bottom-width: 0;
  border-left-width: 0;
  left: -5px;
}

/* End message from other user */

/* Start my messages */

.message.right .msg_detail .msg_info {
  text-align: right;
}

.message.right .msg_detail .msg_content {
  background-color: #c8ffe8;
  float: right;
}
.message.right .msg_detail .msg_content {
  background-color: #c8ffe8;
  border-bottom-width: 0;
  border-left-width: 0;
  right: -5px;
}
  
  /* End my messages */
  
.message-input-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  backdrop-filter: blur(20px);
  text-align: center;
  padding: 10px 0px;
  height: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: space-evenly;

}

.message-input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #000000; 
  background-color: #cacbe7;
  border-radius: 8px;
}
 

.sendButton {
  color: #fff;
  background-color: #3d42df;
  border-radius: 8px;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    width: 20px;
    height: 20px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}

.chatComponentLight ::-webkit-scrollbar-thumb {
  background-color: #eeeeee !important;
}
