.topic-modal-window {
  position: fixed;
  /* background-color: rgba(255, 255, 255, 0.25); */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;
}

.topic-modal-content {
  position: absolute;
  top: 50%;
  left: 37.3%;
  width: auto;
  height: auto;
  padding: 2em;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: radial-gradient(124.21% 138.41% at -0.00% 4.31%, rgba(204, 223, 241, 0.40) 60%, rgba(204, 223, 241, 0) 100%);
  /* background-color:  rgba(204, 223, 241, 0.896); */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}


.topic-modal-box {
  width: auto;
  margin: 5px 0px;
  /* padding: 15px; */
  /* background-color: #aaa; */
  /* background-color: azure; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 0.8;
}

.title {
  /* background-color: azure; */
  background-color: #aaa;
  padding: 10px 20px;
}

.text {
  padding: 20px;
  background-color: azure;
}

.topic-modal-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 0;  
}

.topic-modal-text {
  display: block;
  font-weight: bold;
  font-size: 17px;
  margin: 0;  
}

.topic-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  border: none;
  color: #aaa;
  margin: 0;
  padding: 0;
  /* background-color: rgb(250, 255, 255); */
  /* font-size: 80%; */
  /* line-height: 50px; */
  text-align: center;
  /* text-decoration: none; */
  transition: transform 0.3s;
}

.topic-modal-close:hover {
  transform: scale(1.25); /* 호버 시 확대 효과 */
}

.topic-close-button {
  width: 40%;
}