/* styles.css */
.chat-window {
    position: absolute;
    bottom: 25%;

    /* position: relative; */

    width: 450px;
    height: 500px;
    padding: 20px;
    color: rgb(59, 59, 59);
    transition: right 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    box-sizing: border-box;

    /* blur */
    background: rgb(255, 255, 255);

    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    border-radius: 20px;

    z-index: 100002;
}

.chat >*{
  /* border-radius: 20px; */
  margin: 10px 0 ;
}

.hide-chat{
  right: 0px; /* 처음에는 화면 밖으로 위치 */
  opacity: 0;
}
  
.show-chat {
    right: 350px; /* 화면 내로 이동하여 표시 */
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.placeholder{
  height: 1px;
  margin-top: -1px; 
}


.chat-header {
  background-color: rgb(198, 198, 198);
  word-break: break-all;
  padding: 10px;
  text-align: center;
  flex: 0;
}



.chat-content{
  background-color: rgb(207, 207, 207);
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;

}
/* 스크롤바 */
.chat-content::-webkit-scrollbar {
  width: 10px;
}

.chat-content::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  /* background-clip: padding-box; */
  border: 2px solid transparent;
}


/* 채팅 입력하는 부분 */
.chat-input {
  background-color: rgb(255, 255, 255);
  height: 30px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.chat-input input{
  grid-column: 1;
  background-color: rgb(237, 237, 237);
}



/* 채팅메세지 */
.chat-msg-parent{
  border: 1px solid black;
  margin-bottom: 10px;
}
.my-chat-msg *{
  color: darkblue;
}
.friend-chat-msg{
  color:red;
}
.chat-msg{
  border : 1px solid red;
  font-size: larger;
  word-break: break-all;
}
.chat-send-time{
  color: gray;
  font-size : small;
  float: right;
}

.chat-send-btn{
  display: inline;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}
.chat-send-btn:hover{
  background-color: rgb(234, 234, 234);
}