.friend-list-body{
    margin: 0;
    overflow-x: hidden;
    text-align: left;
}

.send-btn{
    border : 10px solid red;
}

/* button{
    width: auto;
    border-radius: none;
    display: inline;
} */