.friend-list-modal-overlay{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw; /* 모달창 너비 조정 */
    height: 100vh; /* 모달창 높이 조정 */

    /* backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px ); */
    background: rgb(0 0 0 / 15%);

    overflow: hidden;
    z-index: 100;
}

.friend-list-modal{
    position: absolute;
    right: 0%;
    bottom: 25%;

    width: 350px;
    height: 60%;

    padding: 20px;
    border-radius: 20px;
    background-color: white;
    
    word-break: break-all;
}

.friend-list{
    overflow-y: scroll;
    overflow-x: hidden;
}

.friend-list-h2{
    margin: 28px 0 0 0;
    font-weight: 800;
}

/* 스크롤바 */
.friend-list::-webkit-scrollbar {
    width: 10px;
}
  
.friend-list::-webkit-scrollbar-track {
    /* background-color: grey; */
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
  
.friend-list::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    /* background-clip: padding-box; */
    border: 2px solid transparent;
}

.modal-search-btn{
    position: absolute;
    left: 12px;
    top: 11px;
    width: 30px;
    background: none;
    border: none;
    color: #adadad;
    display: inline;
}


.modal-close-btn{
    position: absolute;
    right: 12px;
    top: 6px;
    width: auto;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #adadad;
    display: inline;
}


.friend-section{
    display: grid;
    grid-template-columns: 15% 70% 15%;

    margin: 30px 0 0 0;
}
.friend-section:hover{
    background-color: #d8dadf;
}

.friend-section-profile{
    grid-column: 1;
    width: 100%;
    box-sizing: border-box;
}
.friend-section-profile img{
    width: 100%;
    height: 50px;
    border-radius: 100%;
}

.friend-section-name{
    grid-column: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;

    word-break: break-all;
}
.friend-section-name *:first-of-type{
    font-size: small;
    text-align: left;
}
.friend-section-name *:last-of-type{
    font-size: larger;
    text-align: left;
}
.friend-section-name-status{

}

.enter-chat-btn{
    display: inline;
    grid-column: 3;
    border: none;
    width: 100%;
    height: 100%;

    background-color: rgb(158, 158, 255);
    border-radius: 20px;
}