/* 배경 */
/* .background{
    background-image: url('../../../public/img/start4.jpeg');
    background-repeat: no-repeat;   
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* opacity: 0.7;
    filter: brightness(50%);
    background-color: black;
} */