/* 배경 */
/* .background{
    background-image: url('../../../public/img/start4.jpeg');
    background-repeat: no-repeat;   
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* opacity: 0.7;
    filter: brightness(50%);
    background-color: black;
} */

.button{
    width: 200px;
    height: 50px;
    background-color: #013A63;
    color: white;
}

.button-together {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.button-together-1 {
    font-family: 'Dovemayo_wild';
    color: white;
    background-color: #013A63;
    width: 200px;
    height: 50px;
    font-size: 21px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    display: inline-block;
}

.p{
    font-family: 'Dovemayo_wild';
    font-size: 20px;
    margin-top: 250px;
    margin-bottom: -200px;
    color: #012A4A;
}

.span{
    font-size: 30px;
    font-weight: 500px;
}