.gallery-container {
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .image {
    width: 40vmin;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .image[data-status="inactive"] {
    display: none;
  }
  
  .image[data-status="active"] {
    display: block;
  }
  
  /* -- YouTube Link Styles -- */
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  