.background{
    background-image: url('../../../public/img/start9.jpg');
    background-repeat: no-repeat;   
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}   